"*":
  editor:
    lineHeight: 1.55
    showIndentGuide: true
    invisibles: {}
    softWrap: true
    tabLength: 2
    showInvisibles: true
  core:
    themes: [
      "atom-dark-ui"
      "outlander-syntax"
    ]
    ignoredNames: [
      ".sass-cache"
      ".DS_Store"
      "node_modules"
    ]
  "exception-reporting":
    userId: "4ff6a64d-7478-97d6-028f-cb85011b20fa"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  emmet: {}
  "webbox-color":
    fillColorAsBackground: false
  "tree-view":
    hideIgnoredNames: true
