"*":
  core:
    ignoredNames: [
      ".sass-cache"
      ".DS_Store"
      "node_modules"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "outlander-syntax"
    ]
    useCustomTitleBar: true
  editor:
    autoIndentOnPaste: false
    fontFamily: "'menlo'"
    invisibles: {}
    lineHeight: 1.6
    showInvisibles: true
    tabLength: 2
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "4ff6a64d-7478-97d6-028f-cb85011b20fa"
  minimap: {}
  "one-dark-ui":
    layoutMode: "Compact"
  "tree-view":
    hideIgnoredNames: true
  "webbox-color":
    fillColorAsBackground: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
